# Elisa real estate, finding a model

Source: https://raw.githubusercontent.com/JulienAlardot/challenge-collecting-data/main/Data/database.csv

Libraries :
OneHotencoding
XGboost
Lasso
Ridge
Random forest
sklearn.preprocessing.LabelEncoder

Expected result: compare the prediction performance of the models, create best simulation and prediction

In [18]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
df = pd.read_csv('./data/may.csv', index_col=0)
df.head(4)

,Url,Source,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,...,Terrace Area,Garden,Garden Area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Province,Region
0,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,319799.0,regular sale,1.0,NaN,0.0,...,11.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
1,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,291999.0,regular sale,1.0,NaN,0.0,...,6.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
2,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,764999.0,regular sale,2.0,153.0,0.0,...,62.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
3,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,660264.0,regular sale,3.0,NaN,0.0,...,160.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams

## Data cleaning

 - Existence of duplicated columns ?
 - TODO: Get rid of title column ?
 - Remove URL column which is there for debugging purpose
 - Remove columns with missing values with threshold more than 80% Nan or equivalent
 - Check if the type of data is homogenous per column if not clean, check unique
 - Check abnomalies and outliers

In [19]:
# check duplicates
df.duplicated().any()

False

In [20]:
# get rid of columns with less than 20% data
df.dropna(thresh=len(df)*0.8, axis='columns', inplace = True)
df.head(4)

,Url,Source,Locality,Type of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,Open fire,Terrace,Garden,Swimming pool,Province,Region
0,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,319799.0,regular sale,1.0,NaN,0.0,0.0,1.0,0.0,0.0,Antwerp,Vlaams
1,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,291999.0,regular sale,1.0,NaN,0.0,0.0,1.0,0.0,0.0,Antwerp,Vlaams
2,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,764999.0,regular sale,2.0,153.0,0.0,0.0,1.0,0.0,0.0,Antwerp,Vlaams
3,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,660264.0,regular sale,3.0,NaN,0.0,0.0,1.0,0.0,0.0,Antwerp,Vlaams

In [21]:
# get rid of outliers
# todo equivalent of inplace when working on columns
# df.sort_values(by='Price', ascending = False).head(15)
df = df[(df.Price >= 50000) & (df.Price <= 10000000)]

In [22]:
# get rid of unuseful data for ML
# del df['Url', 'Source', 'Locality','Province', 'Region' ]
df = df.drop(['Url', 'Source', 'Locality','Province', 'Region' ], axis=1, inplace = True)

In [23]:
# examine data of remaining columns 
# eventually to transform variables to numbers
for columns in df: 
    if(len(df[columns].unique()) < 100): 
        print(df[columns].unique())

TypeError: 'NoneType' object is not iterable

In [ ]:
# dealing with empty values
# number of rooms, area

In [ ]:
Create train, test

## Application of ML

- polynomial
- random forest
- xgboost

## Efficiency of the trained model