# Elisa real estate, finding a model

Source: https://raw.githubusercontent.com/JulienAlardot/challenge-collecting-data/main/Data/database.csv

Libraries :
OneHotencoding
XGboost
Lasso
Ridge
Random forest
sklearn.preprocessing.LabelEncoder

Expected result: compare the prediction performance of the models, create best simulation and prediction

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
df = pd.read_csv('./data/may.csv', index_col=0)
df.head(4)

,Url,Source,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,...,Terrace Area,Garden,Garden Area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Province,Region
0,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,319799.0,regular sale,1.0,NaN,0.0,...,11.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
1,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,291999.0,regular sale,1.0,NaN,0.0,...,6.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
2,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,764999.0,regular sale,2.0,153.0,0.0,...,62.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
3,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,660264.0,regular sale,3.0,NaN,0.0,...,160.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams

## Data cleaning

 - Existence of duplicated columns ?
 - Get rid of title column ? not needed -> np.array
 - Remove URL column which is there for debugging purpose
 - Remove columns with missing values with threshold more than 80% Nan or equivalent
 - Check if the type of data is homogenous per column if not clean, check unique
 - Check abnomalies and outliers

In [2]:
# get rid of unuseful data for ML
df.drop(['Url', 'Source', 'Locality','Province', 'Region'], axis=1, inplace = True)

In [3]:
# check duplicates
df.duplicated().any()

True

In [4]:
# get rid of columns with less than 20% data
df.dropna(thresh=len(df)*0.8, axis='columns', inplace = True)
df.head(4)

,Type of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,Open fire,Terrace,Garden,Swimming pool
0,apartment,319799.0,regular sale,1.0,NaN,0.0,0.0,1.0,0.0,0.0
1,apartment,291999.0,regular sale,1.0,NaN,0.0,0.0,1.0,0.0,0.0
2,apartment,764999.0,regular sale,2.0,153.0,0.0,0.0,1.0,0.0,0.0
3,apartment,660264.0,regular sale,3.0,NaN,0.0,0.0,1.0,0.0,0.0

In [6]:
# get rid of outliers
df = df[(df.Price >= 50000) & (df.Price <= 10000000)] 
df.sort_values(by='Price', ascending = False).head(4)

,Type of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,Open fire,Terrace,Garden,Swimming pool
62679,house,10000000.0,regular sale,90.0,3600.0,0.0,0.0,0.0,0.0,0.0
29978,house,10000000.0,regular sale,0.0,NaN,0.0,0.0,0.0,0.0,0.0
52601,house,9876543.0,regular sale,9.0,2500.0,0.0,0.0,0.0,0.0,0.0
35094,house,9500000.0,regular sale,12.0,1100.0,0.0,0.0,1.0,0.0,1.0

In [8]:
# examine data of remaining columns 
# eventually to transform variables to numbers
for columns in df: 
    if(len(df[columns].unique()) < 200): 
        print(df[columns].unique())

['apartment' nan 'house']
['regular sale' 'public sale']
[  1.   2.   3.  18.   4.  nan   5.   6.  10.   7. 125.  14.   9.  32.
  12.   8.  16.  19.  35.  11.  15.  13.  50.  20.  25.  24.  21.  30.
   0.  47.  66.  22.  36.  40.  41.  34.  17.  28.  46.  63. 165.  27.
  99.  70.  37.  80.  39.  38.  90.  33.  23.]
[0. 1.]
[0. 1.]
[1. 0.]
[0. 1.]
[0. 1.]

In [ ]:
# dealing with empty values
# number of rooms, area

In [ ]:
Create train, test

## Application of ML

- polynomial
- random forest
- xgboost

## Efficiency of the trained model