# Elisa real estate, finding a model

Source: https://raw.githubusercontent.com/JulienAlardot/challenge-collecting-data/main/Data/database.csv

Libraries :
OneHotencoding
XGboost
Lasso
Ridge
Random forest
sklearn.preprocessing.LabelEncoder

Expected result: compare the prediction performance of the models, create best simulation and prediction

In [39]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
df = pd.read_csv('./data/may.csv', index_col=0)
df.head(4)

,Url,Source,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,...,Terrace Area,Garden,Garden Area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Province,Region
0,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,319799.0,regular sale,1.0,NaN,0.0,...,11.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
1,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,291999.0,regular sale,1.0,NaN,0.0,...,6.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
2,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,764999.0,regular sale,2.0,153.0,0.0,...,62.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams
3,https://www.logic-immo.be/fr/vente/appartement...,logic-immo.be,2970,apartment,NaN,660264.0,regular sale,3.0,NaN,0.0,...,160.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Antwerp,Vlaams

## Data cleaning

 - Existence of duplicated columns ?
 - Get rid of title column ? not needed -> np.array
 - Remove URL column which is there for debugging purpose
 - Remove columns with missing values with threshold more than 80% Nan or equivalent
 - Check if the type of data is homogenous per column if not clean, check unique
 - Check abnomalies and outliers

In [40]:
# get rid of unuseful data for ML
df.drop(['Url', 'Source', 'Locality','Province', 'Region'], axis=1, inplace = True)

In [41]:
# df.duplicated().any() 
df.drop_duplicates(keep = 'first', inplace=True)

In [42]:
# get rid of columns with less than 20% data
df.dropna(thresh=len(df)*0.8, axis='columns', inplace = True)

In [44]:
# get rid of outliers
# df.sort_values(by='Price', ascending = False).head(4)
df = df[(df.Price >= 50000) & (df.Price <= 10000000)]

In [55]:
# df = df['Type of sale' == 'regular sale']
# df = df[~df['your column'].isin(['list of strings'])]
# df = df[df['your column'].isin(['list of strings'])]
df = df[df['Type of sale'] == 'regular sale']

In [56]:
df.head()

,Type of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,Open fire,Terrace,Garden,Swimming pool
0,apartment,319799.0,regular sale,1.0,NaN,0.0,0.0,1.0,0.0,0.0
1,apartment,291999.0,regular sale,1.0,NaN,0.0,0.0,1.0,0.0,0.0
2,apartment,764999.0,regular sale,2.0,153.0,0.0,0.0,1.0,0.0,0.0
3,apartment,660264.0,regular sale,3.0,NaN,0.0,0.0,1.0,0.0,0.0
4,apartment,294999.0,regular sale,2.0,80.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# data engineering - is null 
df.isnull().any()

Type of property           True
Price                     False
Type of sale              False
Number of rooms            True
Area                       True
Fully equipped kitchen    False
Open fire                 False
Terrace                   False
Garden                    False
Swimming pool             False
dtype: bool

In [57]:
# examine data of remaining columns 
for columns in df: 
    if(len(df[columns].unique()) < 2500): 
        print(f"\n---- {columns} ----\n")
        print(df[columns].unique())

---- Type of property ----

['apartment' nan 'house']

---- Type of sale ----

['regular sale']

---- Number of rooms ----

[  1.   2.   3.  18.   4.  nan   5.   6.  10.   7. 125.  14.   9.  32.
  12.   8.  16.  19.  35.  11.  15.  13.  50.  20.  25.  24.  21.  30.
   0.  47.  66.  22.  36.  40.  41.  34.  17.  28.  46.  63. 165.  27.
  99.  70.  37.  80.  39.  38.  90.  33.  23.]

---- Area ----

[       nan 1.5300e+02 8.0000e+01 9.0000e+01 8.7000e+01 9.5000e+01
 1.2500e+02 7.0000e+01 4.7000e+01 6.7000e+01 6.5000e+01 6.0000e+01
 1.0000e+02 1.0500e+02 1.1000e+02 8.5000e+01 2.7000e+01 1.0100e+02
 9.7000e+01 1.8700e+02 1.0300e+02 1.8300e+02 9.8000e+01 2.2500e+02
 1.4000e+02 1.0600e+02 1.0800e+02 1.3000e+02 4.0000e+01 5.0000e+01
 7.8000e+01 8.4000e+01 5.5000e+01 1.0700e+02 8.9000e+01 9.2000e+01
 1.1500e+02 1.0400e+02 9.1000e+01 9.6000e+01 7.9000e+01 1.7700e+02
 6.6000e+01 3.1000e+01 5.3000e+01 8.2000e+01 1.5000e+02 2.8000e+01
 6.1000e+01 5.8000e+01 6.3000e+01 5.6000e+01 5.2000e+01 1.1600e+02
 5.1000e+01 7.2000e+01 6.8000e+01 3.4800e+02 1.3800e+02 3.1500e+02
 1.1800e+02 1.1300e+02 1.2100e+02 7.5000e+01 8.6000e+01 2.0200e+02
 8.8000e+01 1.6400e+02 1.6200e+02 1.3400e+02 1.3200e+02 1.2000e+02
 3.0300e+02 1.8500e+02 1.4500e+02 1.3500e+02 1.1400e+02 1.2600e+02
 1.2900e+02 2.0000e+01 1.9000e+02 3.1300e+02 1.2200e+02 1.3100e+02
 3.8000e+01 4.9000e+01 4.6000e+01 3.5000e+01 3.0000e+01 8.1000e+01
 3.0000e+02 2.1700e+02 5.4000e+01 6.2000e+01 1.0200e+02 1.1100e+02
 8.3000e+01 7.4000e+01 9.9000e+01 1.1900e+02 3.1900e+02 6.4000e+01
 1.4900e+02 1.2300e+02 3.1400e+02 4.7100e+02 1.5100e+02 2.1500e+02
 3.5000e+02 1.9600e+02 2.0000e+02 3.3800e+02 3.7500e+02 1.2400e+03
 2.4200e+02 1.5600e+02 2.8500e+02 1.5500e+02 1.7100e+02 5.7000e+01
 1.6800e+02 1.2800e+02 2.3000e+02 1.7000e+02 1.8000e+02 1.5700e+02
 1.9800e+02 2.9600e+02 3.8000e+02 2.2700e+02 1.6000e+02 3.2000e+02
 6.3500e+02 1.5200e+02 1.7500e+02 3.3000e+01 7.3000e+01 4.5000e+01
 1.1200e+02 5.0000e+02 9.4000e+01 7.1000e+01 1.4600e+02 9.3000e+01
 6.9000e+01 1.0900e+02 2.6900e+02 2.7900e+02 7.6000e+01 2.2000e+01
 1.3700e+02 1.4400e+02 7.7000e+01 2.6600e+02 1.2400e+02 1.6700e+02
 1.6600e+02 1.4300e+02 2.2000e+02 2.4000e+02 3.3000e+02 1.4100e+02
 2.1100e+02 8.0300e+02 1.6500e+02 4.2000e+02 1.2700e+02 2.5600e+02
 6.0000e+02 1.5800e+02 1.3000e+01 2.4000e+01 1.6000e+01 2.5000e+01
 3.6000e+01 3.7000e+01 5.9000e+01 1.5000e+01 4.4000e+01 3.9000e+01
 2.3000e+01 5.0800e+02 4.3000e+01 1.5400e+02 2.1000e+02 1.3900e+02
 3.2000e+01 1.6300e+02 1.6100e+02 1.4200e+02 3.4000e+01 1.8100e+02
 2.1800e+02 2.4700e+02 2.0500e+02 1.4700e+02 1.3300e+02 1.3600e+02
 2.4600e+02 2.8600e+02 4.8000e+01 4.9500e+02 2.2100e+02 2.5000e+02
 1.7000e+01 1.9000e+01 2.1000e+01 5.0700e+02 1.8000e+01 1.7200e+02
 3.6500e+02 1.1700e+02 2.1300e+02 7.5000e+02 2.5000e+03 2.8800e+02
 1.5900e+02 2.9000e+02 2.1400e+02 3.0500e+02 2.1600e+02 1.7600e+02
 2.0300e+02 2.2400e+02 1.9500e+02 1.6900e+02 5.4000e+02 4.4000e+02
 4.5000e+02 1.9700e+02 4.0000e+02 2.3900e+02 2.8000e+02 3.3500e+02
 2.9700e+02 6.2400e+02 1.7400e+02 2.7800e+02 1.4800e+02 2.2600e+02
 2.7100e+02 3.6000e+02 4.2000e+01 4.3300e+02 1.8600e+02 2.6300e+02
 2.1200e+02 1.8800e+02 2.7000e+02 2.9800e+02 4.1000e+01 2.6000e+02
 2.2900e+02 2.0600e+02 2.3200e+02 1.9100e+02 1.7300e+02 1.8200e+02
 1.9900e+02 2.3100e+02 2.2200e+02 2.3800e+02 2.4300e+02 1.9400e+02
 2.2800e+02 3.9300e+02 3.9000e+02 1.9200e+02 9.6700e+02 3.2600e+02
 1.5000e+03 2.0800e+02 2.6000e+01 1.6120e+03 2.4500e+02 3.4000e+02
 1.7900e+02 2.7400e+02 3.3900e+02 3.4500e+02 2.3400e+02 2.0100e+02
 3.0800e+02 2.7700e+02 2.6500e+02 5.2000e+02 2.9000e+01 1.8400e+02
 1.7800e+02 2.7300e+02 1.8900e+02 4.1000e+02 5.3400e+02 5.1000e+02
 3.6800e+02 2.0700e+02 3.3300e+02 6.1000e+02 1.0000e+03 2.8200e+02
 3.4200e+02 2.4800e+02 3.1000e+02 2.9500e+02 2.7500e+02 3.3200e+02
 3.4300e+02 2.0400e+02 1.0570e+03 3.8100e+02 2.3300e+02 3.2500e+02
 3.7400e+02 1.4500e+03 4.7000e+02 4.8000e+02 2.6800e+02 8.0400e+02
 3.3700e+02 3.3600e+02 3.2100e+02 3.6200e+02 2.8400e+02 2.5800e+02
 1.4000e+03 2.8100e+02 5.2500e+02 2.4900e+02 3.7000e+02 4.1400e+02
 3.1600e+02 3.9800e+02 2.3500e+02 2.4100e+02 2.5500e+02 2.4400e+02
 2.5300e+02 2.5100e+02 2.5200e+02 1.1580e+03 4.6000e+02 3.2700e+02
 4.8500e+02 2.1900e+02 6.7400e+02 3.5700e+02 3.5800e+02 4.4600e+02
 5.9100e+02 5.4500e+02 4.2900e+02 1.9300e+02 7.2000e+02 4.7800e+02
 3.1100e+02 4.2300e+02 2.9300e+02 7.1600e+02 5.4100e+02 6.3200e+02
 3.7300e+02 4.3000e+02 5.9000e+02 8.7600e+02 4.7900e+02 2.0000e+03
 4.3500e+02 4.4400e+02 3.5200e+02 3.8500e+02 5.5000e+02 6.5000e+02
 4.5500e+02 4.1500e+02 7.5400e+02 4.0600e+02 8.2600e+02 2.9200e+02
 3.8200e+02 6.4000e+02 2.2300e+02 5.3000e+02 7.8300e+02 5.6000e+02
 1.3330e+03 2.3430e+03 7.6800e+02 1.0100e+03 8.9500e+02 4.6100e+02
 8.5000e+02 6.8300e+02 3.2300e+02 6.8000e+02 3.0600e+02 4.4300e+02
 3.6600e+02 5.6400e+02 5.7500e+02 4.4500e+02 3.0400e+02 7.3000e+02
 4.3400e+02 4.7400e+02 9.0000e+02 2.6000e+03 2.3700e+02 3.1200e+02
 5.3100e+02 3.2200e+02 4.0500e+02 4.4200e+02 4.2500e+02 1.0900e+03
 5.5500e+02 1.2000e+03 5.8900e+02 1.2500e+03 2.7200e+02 3.0100e+02
 3.4700e+02 5.3700e+02 3.4100e+02 4.7700e+02 5.3600e+02 2.3600e+02
 8.3500e+02 4.1800e+02 3.3100e+02 1.3800e+03 3.4400e+02 6.6200e+02
 2.6200e+02 6.7900e+02 2.9400e+02 3.0200e+02 2.0900e+02 1.8336e+04
 4.4900e+02 4.3900e+02 3.6400e+02 5.7000e+02 4.0900e+02 2.6400e+02
 1.0000e+00 5.5600e+02 6.4500e+02 4.3800e+02 4.0000e+03 1.0350e+03
 4.8400e+02 6.0400e+02 2.5900e+02 3.9500e+02 8.0000e+02 3.8700e+02
 6.2000e+02 2.8700e+02 7.6000e+02 1.4250e+03 1.0380e+03 3.9890e+03
 3.5500e+02 5.0900e+02 4.8700e+02 1.0200e+03 9.7700e+02 3.3400e+02
 5.2300e+02 3.5100e+02 6.3300e+02 4.1900e+02 7.0000e+02 3.9600e+02
 3.7100e+02 4.6700e+02 5.5200e+02 6.3000e+02 2.5400e+02 3.7600e+02
 3.4900e+02 2.9900e+02 6.6000e+02 4.0200e+02 6.0800e+02 2.8300e+02
 5.9500e+02 3.8800e+02 3.1700e+02 4.9000e+02 2.6700e+02 7.7400e+02
 1.1000e+03 4.9600e+02 4.7600e+02 2.9100e+02 4.2600e+02 5.2700e+02
 9.5000e+02 3.2900e+02 5.7400e+02 3.9200e+02 1.4350e+03 3.6300e+02
 2.6100e+02 2.5700e+02 6.4200e+02 4.2200e+02 3.6700e+02 5.1200e+02
 4.1100e+02 4.3600e+02 6.7100e+02 3.8400e+02 9.8000e+02 5.8100e+02
 7.4200e+02 4.1700e+02 5.2200e+02 5.2400e+02 5.1800e+02 9.5500e+02
 8.0000e+00 7.5200e+02 8.3000e+02 4.2800e+02 4.7500e+02 6.4700e+02
 3.6100e+02 1.1300e+03 1.6000e+03 8.9300e+02 1.1500e+03 4.6300e+02
 3.7800e+02 7.8400e+02 8.8000e+02 3.7900e+02 1.0220e+03 5.5800e+02
 4.9400e+02 5.9800e+02 4.9700e+02 1.7500e+03 5.2800e+02 7.2300e+02
 3.5900e+02 8.1000e+02 1.3000e+03 1.7000e+03 3.7200e+02 4.0700e+02
 3.2400e+02 2.7600e+02 6.9900e+02 4.0300e+02 3.8600e+02 7.0300e+02
 5.0200e+02 6.5500e+02 5.8000e+02 3.4600e+02 4.5900e+02 4.4100e+02
 8.7200e+02 6.4400e+02 3.7700e+02 3.0900e+02 4.9800e+02 9.6500e+02
 5.1100e+02 4.5100e+02 8.4500e+02 4.0800e+02 6.9500e+02 7.1500e+02
 3.5400e+02 9.6200e+02 8.4000e+02 1.4420e+03 5.0500e+02 3.8900e+02
 3.0700e+02 5.6900e+02 8.6000e+02 8.4300e+02 6.2700e+02 4.0400e+02
 4.9900e+02 4.6900e+02 3.9900e+02 5.0400e+02 5.4200e+02 5.8800e+02
 8.8500e+02 6.7500e+02 7.8000e+02 7.2200e+02 4.6500e+02 1.9250e+03
 6.6500e+02 7.7000e+02 5.7800e+02 4.6400e+02 6.2500e+02 3.9100e+02
 4.3700e+02 6.0900e+02 5.7600e+02 9.0900e+02 4.1300e+02 7.5100e+02
 4.2100e+02 4.9300e+02 4.3100e+02 6.9300e+02 6.9100e+02 3.2800e+02
 5.6200e+02 6.6800e+02 3.6900e+02 1.2750e+03 7.3800e+02 9.7600e+02
 7.1000e+02 4.2700e+02 1.5730e+03 3.5600e+02 7.4000e+02 5.1300e+02
 4.6600e+02 5.8700e+02 5.4300e+02 6.8200e+02 4.8200e+02 1.0000e+01
 2.8900e+02 3.9400e+02 6.1500e+02 7.2600e+02 9.7300e+02 2.4170e+03
 5.6800e+02 5.2900e+02 6.4800e+02 5.3900e+02 4.6200e+02 4.9200e+02
 7.7500e+02 7.1800e+02 6.5300e+02 6.1900e+02 5.6500e+02 5.4800e+02
 8.0500e+02 8.5600e+02 6.7000e+02 4.4700e+02 1.1080e+03 3.1800e+02
 4.5200e+02 3.9700e+02 1.6200e+03 4.5400e+02 6.2600e+02 9.1800e+02
 6.5700e+02 5.3200e+02 1.6420e+03 4.9100e+02 5.1600e+02 5.9900e+02
 8.9800e+02 1.2290e+03 3.5300e+02 6.0300e+02 2.0490e+03 6.9700e+02
 8.7000e+02 2.0000e+00 6.0500e+02 7.3500e+02 8.1900e+02 5.8400e+02
 3.8300e+02 1.0840e+03 5.8600e+02 9.9000e+02 4.5600e+02 4.3200e+02
 6.9000e+02 9.1200e+02 5.9200e+02 5.9600e+02 7.7100e+02 1.2630e+03
 9.2800e+02 7.0600e+02 7.8700e+02 8.0800e+02 1.9500e+03 1.0750e+03
 1.0080e+03 1.2700e+03 5.1500e+02 4.8100e+02 4.1600e+02 5.0100e+02
 8.5800e+02 2.8800e+03 9.0500e+02 5.3300e+02 6.1800e+02 5.6700e+02
 4.8300e+02 1.5300e+03 5.3500e+02 4.7200e+02 6.7300e+02 5.6600e+02
 6.3700e+02 6.3800e+02 5.1700e+02 4.7300e+02 1.0850e+03 8.8200e+02
 5.3800e+02 6.1100e+02 7.3900e+02 7.4500e+02 8.7400e+02 1.1930e+03
 9.7000e+02 4.4800e+02 4.8900e+02 1.0150e+03 3.6210e+03 7.2500e+02
 6.1400e+02 7.2800e+02 6.0200e+02 6.8700e+02 1.0500e+03 1.2120e+03
 1.2520e+03 5.5400e+02 1.4850e+03 5.2600e+02 2.7260e+03 4.0100e+02
 1.3500e+03 6.2300e+02 5.1900e+02 4.6800e+02 7.1300e+02 8.0100e+02
 2.7280e+03 1.2650e+03 8.4400e+02 1.5740e+03 4.7090e+03 4.2400e+02
 6.7700e+02 8.6300e+02 6.6700e+02 6.3100e+02 1.2000e+01 5.9300e+02
 1.7460e+03 4.5700e+02 9.7500e+02 5.0000e+00 6.6600e+02 9.6000e+02
 7.5800e+02 9.1700e+02 3.5000e+03 7.0700e+02 9.4100e+02 7.6100e+02
 5.7200e+02 9.0800e+02 6.6900e+02 7.7300e+02 4.5300e+02 1.1760e+03
 8.6500e+02 1.8000e+03 6.4600e+02 5.5100e+02 5.4600e+02 1.9000e+03
 6.7200e+02 8.6600e+02 8.0600e+02 7.1700e+02 7.0200e+02 3.6000e+03
 7.5500e+05 6.1600e+02 7.5310e+03 1.1750e+03 8.1700e+02 6.9400e+02
 6.7800e+02 4.1200e+02 1.2030e+03 6.5200e+02 6.2100e+02 6.5100e+02
 6.8600e+02 6.5800e+02 5.4400e+02 1.4000e+01 5.5900e+02 6.3900e+02
 6.4100e+02 7.1100e+02 6.0600e+02 5.2100e+02 7.2100e+02 1.3100e+03
 2.2000e+03 1.1366e+04 5.6300e+02 8.2500e+02 7.5600e+02 6.0100e+02
 5.0600e+02 1.0070e+03 1.1470e+03 1.4700e+03 5.9700e+02 5.9400e+02
 4.8600e+02 8.3400e+02 8.4600e+02 7.6500e+02]

---- Fully equipped kitchen ----

[0. 1.]

---- Open fire ----

[0. 1.]

---- Terrace ----

[1. 0.]

---- Garden ----

[0. 1.]

---- Swimming pool ----

[0. 1.]

In [8]:
# Get rid of nan, delete rows
df = df.dropna()
df.isnull().any()

Type of property          False
Price                     False
Type of sale              False
Number of rooms           False
Area                      False
Fully equipped kitchen    False
Open fire                 False
Terrace                   False
Garden                    False
Swimming pool             False
dtype: bool

In [9]:
# Count remaining rows
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59306 entries, 2 to 73502
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Type of property        59306 non-null  object
 1   Price                   59306 non-null  float64
 2   Type of sale            59306 non-null  object
 3   Number of rooms         59306 non-null  float64
 4   Area                    59306 non-null  float64
 5   Fully equipped kitchen  59306 non-null  float64
 6   Open fire               59306 non-null  float64
 7   Terrace                 59306 non-null  float64
 8   Garden                  59306 non-null  float64
 9   Swimming pool           59306 non-null  float64
dtypes: float64(8), object(2)
memory usage: 5.0+ MB

In [10]:
# get rid of unuseful data for ML
df.drop(['Type of property', 'Type of sale'], axis=1, inplace = True)

In [11]:
df

,Price,Number of rooms,Area,Fully equipped kitchen,Open fire,Terrace,Garden,Swimming pool
2,764999.0,2.0,153.0,0.0,0.0,1.0,0.0,0.0
4,294999.0,2.0,80.0,0.0,0.0,0.0,0.0,0.0
6,233999.0,2.0,90.0,0.0,0.0,0.0,0.0,0.0
7,329899.0,1.0,87.0,0.0,0.0,1.0,0.0,0.0
9,359899.0,1.0,95.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
73496,334900.0,3.0,165.0,0.0,0.0,0.0,0.0,0.0
73497,340500.0,3.0,167.0,0.0,0.0,0.0,0.0,0.0
73500,307242.0,3.0,150.0,0.0,0.0,0.0,0.0,0.0
73501,315000.0,3.0,150.0,0.0,0.0,1.0,0.0,0.0
73502,315000.0,3.0,150.0,0.0,0.0,1.0,0.0,0.0

## Create train, test
WARNING 
- never take outliers before the train set, they are part of the tests values
- only clean wrong data, not possible data, error data, etc..
- clean outliers in the train data and monitor over/under fitting aftwards

In [12]:
# create the matrix of x and the y target
X = df.iloc[:,1:] 
y = df.iloc[:,:1] 

print(X.shape) 
print(y.shape)

(59306, 7)
(59306, 1)

In [13]:
# split into train and test data
from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40, stratify = y) # 0,1 class can not be stratified
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)
len(X_train)

41514

In [14]:
# measure the accuracy of the train test
# .score(X_train, y_train)

## Application of ML

choosing your model : https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

- multiple regression
- polynomial
- random forest
- xgboost
- ridge
LATER
- libraries cleaning and engineering by themselves

### multiple linear regression
$$
\begin{bmatrix}
y^{(1)}\\
y^{(2)}\\
y^{(3)}\\
... \\
y^{(m)}\\
\end{bmatrix}
=
\begin{bmatrix}
x^{(1)}_1, x^{(1)}_2, 1\\
x^{(2)}_1, x^{(2)}_2, 1\\
x^{(3)}_1, x^{(3)}_2, 1\\
x^{(m)}_1,x^{(m)}_2,  1\\
\end{bmatrix}
.
\begin{bmatrix}
a\\
b\\
c\\
\end{bmatrix}
$$

In [15]:
# linear regression
# with sklearn, no need to add 1 to the matrix
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [16]:
# performance
regressor.score(X_train, y_train)

0.22322237344384077

In [17]:
# visualizing results

In [18]:
# play with number of iterations

In [19]:
# calculate overfitting and underfitting

### polynomial
$$ X =
\begin{bmatrix}
x^{(1)}_1, x^{(1)2}_2, ..., x^{(m)k}_{n}, 1\\
x^{(2)}_1, x^{(2)2}_2, ..., x^{(m)k}_{n}, 1\\
x^{(3)}_1, x^{(3)2}_2, ..., x^{(m)k}_{n}, 1\\
x^{(m)}_1,x^{(m)k}_2, ..., x^{(m)k}_{n}, 1\\
\end{bmatrix}
$$
is it applicable here ?

In [20]:
# multiple linear regression using SciKitLearn

## XGboost

INSTALL package via conda install xgboost

TODO to be used only with 0.5+ score ?

In [21]:
from xgboost import XGBRegressor
my_model = XGBRegressor()
# Add silent=True to avoid printing out updates with each cycle
my_model.fit(X_train, y_train, verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [26]:
# make predictions
predictions = my_model.predict(X_test)

from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, y_test)))
my_model.score(X_test, y_test)

Mean Absolute Error : 136338.05219779254

0.507525855860931

In [23]:
# finetuning the model
my_model = XGBRegressor(n_estimators=1000)
my_model.fit(X_train, y_train, early_stopping_rounds=50, 
             eval_set=[(X_test, y_test)], verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [24]:
# make predictions
predictions = my_model.predict(X_test)

from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error : 136338.05219779254

In [25]:
# mesure performance
my_model.score(X_test, y_test)

0.507525855860931